/*Inspiriert von https://www.w3schools.com/css/tryit.asp?filename=trycss3_flexbox_image_gallery*/

/* Erstelle eine Reihe, in die nun Spalten ("column") eingefügt werden können */
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Erstelle nun 4 Spalten */
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.column img:hover {
    transition: 0.5s;
    transform: scale(1.1);
}

/* Responsive layout - macht aus 4 Spalten 2 Spalten */
@media (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - macht aus 4 Spalten 1 Spalte */
@media (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}