/*Inspiriert von https://www.w3schools.com/css/tryit.asp?filename=trycss3_flexbox_image_gallery*/

/* Überschreibe die max-Breite von main.css, um die Bilder (bzw den main inhalt) auf 80% statt 50% der Fläche darzustellen */
main {
    max-width: 80%;
}

/* Erstelle eine Reihe, in die nun Spalten eingefügt werden können */
.reihe {
    display: flex; /* Jedes Kind-element ist ein Spalten div und wird in eine Flexbox gepackt */
    flex-wrap: wrap; /* Wenn der Bildschirm kleiner wird, werden die Spalten untereinander statt nebeneinander angezeigt */
    padding: 0 4px; /* Abstand des kompletten Gerüsts oben und unten auf 0 und Abstand links und rechts auf 4 */
}

/* Erstelle nun 4 Spalten */
.spalte {
    flex: 25%; /* 4 Spalten */
    max-width: 25%; /* Maximale Breite auch auf 25%, damit keine potenziellen Fehler auftreten */
    padding: 0 4px; /* Abstand von jeweils den Spalten oben und unten auf 0 und Abstand links und rechts auf 4 */
}

.spalte img {
    margin-top: 8px; /* Abstand zwischen Bildern einer Spalte */
    width: 100%; /* Nur Weite der Bilder muss in Spalten eingeschränkt werden und darf nicht 100% der Weite einer Spalte überschreiten */
}

/* Erzeuge Vergrößerungseffekt (innerhalb von 0.5s) für hovern auf den Bildern */
.spalte img:hover {
    transition: 0.5s;
    transform: scale(1.1);
}

/* Responsive layout - macht aus 4 Spalten 2 Spalten */
@media screen and (max-width: 800px) {
    .spalte {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - macht aus 4 Spalten 1 Spalte */
@media screen and (max-width: 600px) {
    .spalte {
        flex: 100%;
        max-width: 100%;
    }
}