/*liste der Komentare */
.comment-section {
    list-style: none; /*Keine Punkte vor Lsteneinträgen */
    width: 100%;
    margin: 50px auto;
    padding: 10px;
}

.comment {
    display: flex;
    border-radius: 3px;
    margin-bottom: 45px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/* profil und alter der Nachricht  */
.comment .info {
    width: 17%;
    text-align: right;
    color: #656c71;
}

.comment .info a { /* user name */
    display: flex;
    flex-direction: column; /*profil alter untereinanders*/
    text-decoration: none; /* link nicht unterstrichen*/
    color: #656c71;
    font-weight: bold; /*name dick*/
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; /*keine doppelten Leerzeichen*/
    padding: 10px 0 3px 0;
}

.comment .info span { /*alter der nachricht */
    font-size: 11px;
}


.comment .avatar {
    width: 8%;
}

.comment .likes {
    width: 5%;
}

.comment .delete {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.comment .avatar, .likes {
    padding: 10px 18px 0 3px;
}


.comment .avatar img {
    border-radius: 50%; /*rund*/
}

/* Textinhalt der Kommentare*/
.comment p {
    line-height: 1.5;
    padding: 18px 22px;
    width: 50%;
    position: relative;
    word-wrap: break-word; /*erlaubt Trennung von allen Wörtern*/
    background-color: #ffffff;
}

/*Abstand nach jedem Kommentar*/
.comment p:after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 2px solid #f3f3f3;
    left: -8px;
    top: 18px;
}

/* Responsive Layout: max-wif´dth klein - Kommentar größer und info und likes verteilen sich umzu*/
@media (max-width: 800px) {

    .comment p {
        width: 100%;
    }

    .comment-section {
        margin-top: 10px;
    }

    .comment .info {
        width: auto;
    }

    .comment .info a {
        padding-top: 15px;
    }

    .comment .avatar {
        padding: 15px 10px 0 18px;
        width: auto;
    }

    .comment .likes {
        padding: 15px 10px 0 18px;
        width: auto;
    }

    .comment p:after {
        width: 12px;
        height: 12px;
        top: initial;
        left: 28px;
        bottom: -6px;
    }
}

/*nur damit container mittig ist*/
.align_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 15px 10px;
}

.container h2 {
    text-align: center;
    margin-bottom: 15px;
}

/*Textarea zum Kommentare schreiben*/
textarea {
    height: 5rem;
    width: 100%;
    border: none;
    border-bottom: 2px solid #aaa;
    background-color: transparent;
    margin-bottom: 10px;
    resize: none;
    outline: none;
    transition: .5s
}

input[type="submit"], button {
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

input[type="submit"] {
    color: #fff;
    background-color: var(--third-color)
}

button {
    color: #333;
    background-color: transparent
}

.description h2 {
    text-align: center;
    margin: 1rem;

}

.description p {
    text-align: center;
    font-size: medium;
}
