/*
---> Globale Variablen <--- (root ist das oberste Element des CSS-Baums, wodurch alle Variablen später verwendet werden können)
*/
:root { 
    /*Farbpalette*/
    --first-color: #ececec;
    --second-color: #9fd3c7;
    --third-color: #385170;
    --fourth-color: #142d4c;
}


/*
---> Inhalt der Webseite <---
*/
* {
    box-sizing: border-box;
}

body {
    background-color: var(--first-color);
    font-family: Arial, serif;
    padding: 0;
    margin: 0;
}

main {
    text-align: center;    
}

/*
---> Navigation <---
*/
header { /*Gesamter Navigationsbereich*/    
    background-color: var(--third-color);
    display: flex;
    flex-wrap: wrap;
}

header > nav > a { /*Links*/
    font-size: 20px; /*Größe*/
    font-weight: bold; /*Fett*/
    margin: 10px; /*Abstand zwischen Elementen*/
    text-decoration: none; /*Nicht als normalen Link anzeigen*/
    color: var(--first-color); /*Text in grauer Farbe*/
    padding-top: 10px; /*Abstand nach oben*/
    padding-bottom: 10px; /*Abstand nach unten*/
    padding-left: 40px; /*Abstand nach links*/
    padding-right: 40px; /*Abstand nach rechts*/
    letter-spacing: 0.1em; /*Abstand zwischen Buchstaben*/
    display: inline-block; /*Inline-Boxen*/
    border-width: 2px; /*Umrandungsbreite*/
    border-style: solid; /*Umrandungsstil*/
    border-radius: 20px; /*Umrandungsradius*/
}

header > nav > a:hover { /*Links beim drüber hovern*/
    color: var(--second-color); /*Text-Farbe ändern*/
}


/*
---> Footer <---
*/
footer {
    background-color: var(--third-color);
    display: flex;
    flex-wrap: wrap;

    padding-top: 10px; /*Abstand nach oben*/
    padding-bottom: 10px; /*Abstand nach unten*/

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer > nav > a { /*Links*/
    font-size: 20px;
    margin: 10px; /*Abstand zwischen Elementen*/
    text-decoration: none; /*Nicht als normalen Link anzeigen*/
    color: var(--first-color); /*Text in grauer Farbe*/
}

footer > nav > a:hover { /*Links beim drüber hovern*/
    color: var(--second-color); /*Text-Farbe ändern*/
}


/*
---> Anmeldung, Registration, Kontakt Formulare <---
*/

.usermanagement form > hr { /*Linie*/
    border-width: 1px; /*Umrandungsbreite*/
    border-style: solid; /*Umrandungsstil*/
    border-color: var(--second-color); /*Umrandungsfarbe*/
}

.usermanagement form > label {
    font-weight: bold;
}

.usermanagement form > input {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    text-align: center;
}

.usermanagement form > input:focus {
    background-color: #ddd;
    outline: none;
}


/* Set a style for the submit button */
.usermanagement form > button {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.usermanagement form > button:hover {
    opacity: 1;
}

