/* Globale Variablen (root ist das oberste Element des CSS-Baums, wodurch alle Variablen später verwendet werden können) */
:root {
    /*Farbpalette*/
    --first-color: #ececec;
    --second-color: #9fd3c7;
    --third-color: #385170;
    --fourth-color: #142d4c;
}


/*
---> Inhalt der Webseite <---
*/

* {
    box-sizing: border-box; /* Vereinfacht das box sizing (Abstand in alle Seiten). inkludiert padding border und content in der width und height berechnung */
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: var(--first-color);
    font-family: Arial, serif;

    /* Kein padding-und kein margin-Seitenabstand (nützlich für z.B header, der dann kompletten Bereich ohne Lücke einfärbt) */
    padding: 0;
    margin: 0 0 100px; /* Platz für den Footer (Platz nach unten)*/
}

main {
    /* Ordne main content mittig an mit 25% Abstand an beiden Seiten */
    max-width: 50%;
    margin: auto; /* Browser setzt content automatisch in die mitte */
}

/* Responsive layout - mittelgroßer Bildschirm hat nur noch 20% Abstand an beiden Seiten */
@media screen and (max-width: 1200px) {
    main {
        max-width: 60%;
    }

    body {
        margin: 0 0 150px; /* Platz für den Footer (Platz nach unten)*/
    }
}

/* Responsive layout - kleinerer Bildschirm hat nur noch 10% Abstand an beiden Seiten */
@media screen and (max-width: 800px) {
    main {
        max-width: 80%;
    }

    body {
        margin: 0 0 250px; /* Platz für den Footer (Platz nach unten)*/
    }
}

.presentation {
    width: 100%; /* Setze die Breite eines Elements */
}

.presentation-height {
    height: 500px; /* Setze die Breite eines Elements */
}

.invisible {
    display: none; /* Element soll nicht angezeigt werden */
}

#jsOnly { /* repräsentiert divs, die nur angezeigt werden sollen, wenn JavaScript aktiviert ist */
    display: none;
}


/*
---> Navigation <---
*/

header { /*Gesamter Navigationsbereich*/
    background-color: var(--third-color);
    padding: 15px; /*Mehr Abstand in alle Seiten beim Header, damit  dieser größer erscheint*/
}

header > nav {
    display: flex; /* Flex-Modus aktivieren */
    justify-content: space-between; /* Die flex-Elemente (header-left, header-right) soweit wie möglich verteilen */
    align-items: center; /* die items zentrieren, damit das logo (header-left) auf gleicher höhe wie die link elemente sind */
}

header .header-right {
    /*Nochmal Flexbox für die tatsächlichen links, damit diese bei kleinem bidschirm in spalte stehen können*/
    display: flex;
}

@media screen and (max-width: 1000px) {
    /*Text-Logo und Links nicht mehr nebeneinander, sondern übereinander*/
    header > nav {
        flex-direction: column;
    }

    /*Die einzelnen Links nicht mehr nebeneinander, sondern übereinander*/
    header .header-right {
        flex-direction: column;
    }
}

header > nav > div > * { /*Gemeinsame Eigenschaften von textlogo und navitem*/
    font-size: 1.2em; /* 1.2 mal so groß wie normaler Text */
    text-decoration: none; /*Nicht als normalen Link anzeigen*/
    font-weight: bold; /*Fett*/
    color: var(--first-color); /*Text in grauer Farbe*/
    margin: 5px; /*Abstand zwischen Elementen*/
    padding: 5px 5px; /*Abstand auf allen Seiten (top und bottom 10px, seiten 40px*/
}

header .textlogo { /*Text-Logo*/
    text-transform: uppercase; /*In Großbuchstaben anzeigen*/
    margin-right: 30px;

}

header .navitem { /*Link-Elemente rechts vom Text-Logo*/
    letter-spacing: 0.1em; /*Abstand zwischen Buchstaben*/
    display: inline-block; /*Inline-Boxen*/
    border-width: thin; /*Umrandungsbreite*/
    border-style: solid; /*Umrandungsstil*/
    /*border-radius: 20px; Umrandungsradius*/
}

header a:hover { /*Links beim drüber hovern*/
    color: var(--fourth-color); /*Text-Farbe ändern*/
    background-color: var(--first-color);
}


/*
---> Suchbereich Quelle: https://www.iconpacks.net/free-icon/search-2903.html, inspiriert: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_search_button<---
*/

.suche {
    display: flex; /* verwendet um suchfeld und button nebeneinander zu platzieren und float: left zu vermeiden */
}

.suchfeld {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey; /* kante umzieht die suchleiste */
    width: 80%;
}

.suche button {
    width: 20%;
    padding: 10px;
    background: var(--third-color);
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

.suche button:hover {
    background: #0b7dda;
}

#suchvorschlag {
    padding: 0;
    font-size: 17px;
    width: 80%;
    background-color: white;
    line-height: 190%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#suchvorschlag > * {
    text-decoration: none;
    color: black;
}

#suchlupe {
    margin-right: 15px;
}

.filter {
    background-color: var(--fourth-color); /*Hintergrundfarbe*/
    color: white; /*Textfarbe*/
    padding: 2px 10px; /*Polsterung: Erster Wert: oben und unten / Zweiter Wert: rechts und links*/
    margin: 4px 0; /*Rand: Erster Wert: oben und unten / Zweiter Wert: rechts und links*/
    opacity: 0.9; /*Deckkraft*/
}

/*
---> Footer <---
*/

footer {
    background-color: var(--third-color);
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px; /*Abstand nach oben*/
    padding-bottom: 10px; /*Abstand nach unten*/

    /* footer immer ganz unten auf der seite */
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer > a { /*Links*/
    font-size: 20px;
    margin: 10px; /*Abstand zwischen Elementen*/
    text-decoration: none; /*Nicht als normalen Link anzeigen*/
    color: var(--first-color); /*Text in grauer Farbe*/
}

footer > a:hover { /*Links beim drüber hovern*/
    color: var(--second-color); /*Text-Farbe ändern*/
}


/*
---> Anmeldung, Registration, Kontakt Formulare <---
*/

.usermanagement form > hr { /*Linie*/
    border-width: 1px; /*Umrandungsbreite*/
    border-style: solid; /*Umrandungsstil*/
    border-color: var(--second-color); /*Umrandungsfarbe*/
}

.usermanagement p {
    margin: 0;
    cursor: pointer;
}

.usermanagement form > label {
    font-weight: bold;
}

.usermanagement form input, textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.usermanagement form > input:focus {
    background-color: #ddd;
    outline: none;
}

.usermanagement form > button {
    background-color: var(--fourth-color); /*Hintergrundfarbe*/
    color: white; /*Textfarbe*/
    padding: 16px 20px; /*Polsterung: Erster Wert: oben und unten / Zweiter Wert: rechts und links*/
    margin: 8px 0; /*Rand: Erster Wert: oben und unten / Zweiter Wert: rechts und links*/
    cursor: pointer; /*Mauszeiger wird zur Hand*/
    width: 100%; /*Breite*/
    opacity: 0.9; /*Deckkraft*/
}

.usermanagement form > button:hover {
    opacity: 1; /*Deckkraft*/
}

.usermanagement #akzeptiert {
    width: 5%;
}

.usermanagement #loeschen {
    width: 5%;
}

.usermanagement select {
    width: auto;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: var(--first-color);
}

.datenschutzbestaetigung {
    background-color: var(--fourth-color); /*Hintergrundfarbe*/
    color: white; /*Textfarbe*/
    padding: 8px 20px; /*Polsterung: Erster Wert: oben und unten / Zweiter Wert: rechts und links*/
    margin: 8px 0; /*Rand: Erster Wert: oben und unten / Zweiter Wert: rechts und links*/
    cursor: pointer; /*Mauszeiger wird zur Hand*/
    opacity: 0.9; /*Deckkraft*/
}

/*
---> Interaktion mit Nutzer: Rückmeldung per Nachricht <---
*/

.nachricht {
    font-weight: bold; /*Fett*/
    border-width: medium; /*Umrandungsbreite*/
    border-style: solid; /*Umrandungsstil*/
    border-color: darkgreen; /*Umrandungsfarbe*/
    background-color: white; /*Hintergrundfarbe*/
    text-align: center; /*Mittiger Text*/
    padding-top: 5px; /*Platz nach oben*/
    padding-bottom: 5px; /*Platz nach unten*/
}

.fehler {
    border-color: darkred; /*Umrandungsfarbe*/
}

/*
---> Profil Ausstellung: Gemälde und Sammlungen auf dem Profil <---
*/

.profilausstellung {
    display: flex;
    overflow: auto;
    flex-direction: row;
    align-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.profilausstellung .eintrag {
    display: flex;
}

.profilausstellung .eintrag img {
    max-width: 150px;
    max-height: 150px;
}