
.container {
    display: flex;
    overflow: auto;
    flex-direction: row;
    align-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.container .item {
    display: flex;
}

.container .item img {
    max-width: 150px;
    max-height: 150px;
}